body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
header {
  background-color: #607596;
  color: white;
  padding: 100px;
  text-align: center;
}
h1 {
  margin: 0;
}
section {
  padding: 20px;
}
ul {
  list-style-type: none;
}
ul li {
  margin: 10px 0;
}
.nav-links a {
  text-decoration: none; /* Removes the underline */
  color: white;        /* Change the link color */
}
.nav-links a:hover {
  color: #ff6600;        /* Change the color on hover */
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}
