body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
header {
  background-color: #607596;
  color: white;
  padding: 10px;
  text-align: center;
}
h1 {
  margin: 0;
}
section {
  padding: 20px;
}
ul {
  list-style-type: none;
}
ul li {
  margin: 10px 0;
}
.nav-links {
  list-style-type: none; /* Removes default list styling */
  padding: 0;            /* Removes default padding */
  margin: 0;             /* Removes default margin */
}

.nav-links li {
  display: inline;       /* Makes list items appear inline */
  margin-right: 20px;     /* Adds space between the list items */
}

.nav-links a {
  text-decoration: none; /* Removes the underline */
  color: white;        /* Change the link color */
}

.nav-links a:hover {
  color: #ff6600;        /* Change the color on hover */
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}
